In [24]:
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer

tokenizer = Tokenizer(num_words=10)
# tokenizer.fit_on_sequences([[1,2,3,4,3,3,3,3]]) 
# tokenizer.sequences_to_matrix([[3,3,3]])
tokenizer.fit_on_texts(['Ali_09 is the best','. Ali plays the footbal the']) 
tokenizer.texts_to_sequences([['Ali']])
# tokenizer.

[[2]]

In [28]:
tokenizer.word_index

{'the': 1, 'ali': 2, '09': 3, 'is': 4, 'best': 5, 'plays': 6, 'footbal': 7}

In [6]:
import general.utils as utils
utils.reload()
def task(item):
	import time
	time.sleep(4-item)
	print(item)
	return item *item
list(utils.parallelRunner(True,task,[1,2,3]))

  0%|          | 0/3 [00:00<?, ?it/s]

3
2
1

[1, 4, 9]

In [20]:
import pandas as pd
from IPython.display import display
# display(res)
acts = dataset[t].activities_map.copy()
del acts[0]
acts['avg'] = 'avg'
actres = {}
res['b']=res['a']
for k in acts:

	# if(k==0):continue
	if (k == 0):
		continue
	key = acts[k]
	if key == 'avg':
		actres[key] = {(key,m, e): res[m]['avg'][e] for m in res for e in res[m]['avg']}
	else:
		actres[key] = {(key,m, e): res[m][k]['avg'][e] for m in res for e in res[m][k]['avg']}
	print(f'act={key}==============================')
#                 print(actres[k])
	if (len(actres[key]) == 0):
		print('No Eval')
	else:
		df2 = pd.DataFrame(actres[key]).round(2)
		display(df2)

act=Bathing==============================

            Bathing                                                           \
                  a                                                        b
          existance total dur. relative dur. alignment cardinality existance
tp             3.00    2587.64          2.46      2.14        3.00      3.00
fp             0.00      10.36          0.01      0.02        0.00      0.00
fn             3.00    3749.66          3.54      0.84        3.00      3.00
precision      1.00       1.00          1.00      0.99        1.00      1.00
recall         0.50       0.41          0.41      0.72        0.50      0.50
f1             0.67       0.58          0.58      0.83        0.67      0.67



          total dur. relative dur. alignment cardinality
tp           2587.64          2.46      2.14        3.00
fp             10.36          0.01      0.02        0.00
fn           3749.66          3.54      0.84        3.00
precision       1.00          1.00      0.99        1.00
recall          0.41          0.41      0.72        0.50
f1              0.58          0.58      0.83        0.67

act=Bed_Toilet_Transition==============================

          Bed_Toilet_Transition                                     \
                              a
                      existance total dur. relative dur. alignment
tp                        35.00    7174.36         21.54     23.35
fp                        45.00    5419.64         47.02      2.45
fn                         9.00    6590.42         22.46      9.92
precision                  0.44       0.57          0.31      0.91
recall                     0.80       0.52          0.49      0.70
f1                         0.56       0.54          0.38      0.79


                              b
          cardinality existance total dur. relative dur. alignment cardinality
tp              12.00     35.00    7174.36         21.54     23.35       12.00
fp             102.00     45.00    5419.64         47.02      2.45      102.00
fn              32.00      9.00    6590.42         22.46      9.92       32.00
precision        0.11      0.44       0.57          0.31      0.91        0.11
recall           0.27      0.80       0.52          0.49      0.70        0.27
f1               0.15      0.56       0.54          0.38      0.79        0.15

act=Eating==============================

             Eating                                                           \
                  a                                                        b
          existance total dur. relative dur. alignment cardinality existance
tp            22.00   20456.06         13.37     13.80       18.00     22.00
fp            36.00   11435.61         37.20      1.25       42.00     36.00
fn            16.00   28662.92         24.63      7.72       20.00     16.00
precision      0.38       0.64          0.26      0.92        0.30      0.38
recall         0.58       0.42          0.35      0.64        0.47      0.58
f1             0.46       0.51          0.30      0.75        0.37      0.46



          total dur. relative dur. alignment cardinality
tp          20456.06         13.37     13.80       18.00
fp          11435.61         37.20      1.25       42.00
fn          28662.92         24.63      7.72       20.00
precision       0.64          0.26      0.92        0.30
recall          0.42          0.35      0.64        0.47
f1              0.51          0.30      0.75        0.37

act=Enter_Home==============================

          Enter_Home                                                           \
                   a                                                        b
           existance total dur. relative dur. alignment cardinality existance
tp              3.00      19.31          2.69      0.00        3.00      3.00
fp             31.00    2373.69         34.00      3.00       31.00     31.00
fn             48.00     476.18         48.31      0.54       48.00     48.00
precision       0.09       0.01          0.07      0.00        0.09      0.09
recall          0.06       0.04          0.05      0.00        0.06      0.06
f1              0.07       0.01          0.06      0.00        0.07      0.07



          total dur. relative dur. alignment cardinality
tp             19.31          2.69      0.00        3.00
fp           2373.69         34.00      3.00       31.00
fn            476.18         48.31      0.54       48.00
precision       0.01          0.07      0.00        0.09
recall          0.04          0.05      0.00        0.06
f1              0.01          0.06      0.00        0.07

act=Housekeeping==============================

          Housekeeping                                                 \
                     a
             existance total dur. relative dur. alignment cardinality
tp               14.00     329.59          4.12      3.52        3.00
fp              107.00    1968.37        107.72      0.51      158.00
fn               22.00    4454.78         31.88      9.97       33.00
precision         0.12       0.14          0.04      0.87        0.02
recall            0.39       0.07          0.11      0.26        0.08
f1                0.18       0.09          0.06      0.40        0.03


                  b
          existance total dur. relative dur. alignment cardinality
tp            14.00     329.59          4.12      3.52        3.00
fp           107.00    1968.37        107.72      0.51      158.00
fn            22.00    4454.78         31.88      9.97       33.00
precision      0.12       0.14          0.04      0.87        0.02
recall         0.39       0.07          0.11      0.26        0.08
f1             0.18       0.09          0.06      0.40        0.03

act=Leave_Home==============================

          Leave_Home                                                           \
                   a                                                        b
           existance total dur. relative dur. alignment cardinality existance
tp             17.00     125.15         14.29      5.82       13.00     17.00
fp             29.00     302.93         35.40      6.33       44.00     29.00
fn             34.00     287.63         36.71      5.29       38.00     34.00
precision       0.37       0.29          0.29      0.48        0.23      0.37
recall          0.33       0.30          0.28      0.52        0.25      0.33
f1              0.35       0.30          0.28      0.50        0.24      0.35



          total dur. relative dur. alignment cardinality
tp            125.15         14.29      5.82       13.00
fp            302.93         35.40      6.33       44.00
fn            287.63         36.71      5.29       38.00
precision       0.29          0.29      0.48        0.23
recall          0.30          0.28      0.52        0.25
f1              0.30          0.28      0.50        0.24

act=Meal_Preparation==============================

          Meal_Preparation                                                 \
                         a
                 existance total dur. relative dur. alignment cardinality
tp                   21.00    8503.34         14.05     12.64       10.00
fp                   66.00    6303.66         68.03      2.47       84.00
fn                   23.00   21446.19         29.95      5.89       34.00
precision             0.24       0.57          0.17      0.84        0.11
recall                0.48       0.28          0.32      0.68        0.23
f1                    0.32       0.38          0.22      0.75        0.14


                  b
          existance total dur. relative dur. alignment cardinality
tp            21.00    8503.34         14.05     12.64       10.00
fp            66.00    6303.66         68.03      2.47       84.00
fn            23.00   21446.19         29.95      5.89       34.00
precision      0.24       0.57          0.17      0.84        0.11
recall         0.48       0.28          0.32      0.68        0.23
f1             0.32       0.38          0.22      0.75        0.14

act=Personal_Hygiene==============================

          Personal_Hygiene                                                 \
                         a
                 existance total dur. relative dur. alignment cardinality
tp                   78.00   10495.87         49.58     46.48       33.00
fp                  160.00    5617.49        164.64      4.30      361.00
fn                   35.00   13321.02         63.42     27.28       80.00
precision             0.33       0.65          0.23      0.92        0.08
recall                0.69       0.44          0.44      0.63        0.29
f1                    0.44       0.53          0.30      0.75        0.13


                  b
          existance total dur. relative dur. alignment cardinality
tp            78.00   10495.87         49.58     46.48       33.00
fp           160.00    5617.49        164.64      4.30      361.00
fn            35.00   13321.02         63.42     27.28       80.00
precision      0.33       0.65          0.23      0.92        0.08
recall         0.69       0.44          0.44      0.63        0.29
f1             0.44       0.53          0.30      0.75        0.13

act=Sleeping_Not_in_Bed==============================

          Sleeping_Not_in_Bed                                                 \
                            a
                    existance total dur. relative dur. alignment cardinality
tp                      19.00  146390.02         17.98     17.88        6.00
fp                     163.00  207659.73        163.63      0.24      186.00
fn                       0.00   14567.89          1.02      0.87       13.00
precision                0.10       0.41          0.10      0.99        0.03
recall                   1.00       0.91          0.95      0.95        0.32
f1                       0.19       0.57          0.18      0.97        0.06


                  b
          existance total dur. relative dur. alignment cardinality
tp            19.00  146390.02         17.98     17.88        6.00
fp           163.00  207659.73        163.63      0.24      186.00
fn             0.00   14567.89          1.02      0.87       13.00
precision      0.10       0.41          0.10      0.99        0.03
recall         1.00       0.91          0.95      0.95        0.32
f1             0.19       0.57          0.18      0.97        0.06

act=Sleeping_in_Bed==============================

          Sleeping_in_Bed                                                 \
                        a
                existance total dur. relative dur. alignment cardinality
tp                  25.00  225851.36         24.96     24.68       25.00
fp                   0.00    1083.56          0.13      0.24        1.00
fn                  12.00  126492.85         12.04      0.08       12.00
precision            1.00       1.00          0.99      0.99        0.96
recall               0.68       0.64          0.67      1.00        0.68
f1                   0.81       0.78          0.80      0.99        0.79


                  b
          existance total dur. relative dur. alignment cardinality
tp            25.00  225851.36         24.96     24.68       25.00
fp             0.00    1083.56          0.13      0.24        1.00
fn            12.00  126492.85         12.04      0.08       12.00
precision      1.00       1.00          0.99      0.99        0.96
recall         0.68       0.64          0.67      1.00        0.68
f1             0.81       0.78          0.80      0.99        0.79

act=Taking_Medication==============================

          Taking_Medication                                                 \
                          a
                  existance total dur. relative dur. alignment cardinality
tp                      0.0       0.00           0.0       0.0         0.0
fp                      2.0     633.00           2.0       0.0         2.0
fn                     14.0    4393.11          14.0       0.0        14.0
precision               0.0       0.00           0.0       0.0         0.0
recall                  0.0       0.00           0.0       0.0         0.0
f1                      0.0       0.00           0.0       0.0         0.0


                  b
          existance total dur. relative dur. alignment cardinality
tp              0.0       0.00           0.0       0.0         0.0
fp              2.0     633.00           2.0       0.0         2.0
fn             14.0    4393.11          14.0       0.0        14.0
precision       0.0       0.00           0.0       0.0         0.0
recall          0.0       0.00           0.0       0.0         0.0
f1              0.0       0.00           0.0       0.0         0.0

act=avg==============================

                avg                                                           \
                  a                                                        b
          existance total dur. relative dur. alignment cardinality existance
tp            19.75   35161.06         13.75     12.53       10.50     19.75
fp            53.25   20234.00         54.98      1.73       84.25     53.25
fn            18.00   18703.56         24.00      5.70       27.25     18.00
precision      0.34       0.44          0.29      0.66        0.24      0.34
recall         0.46       0.34          0.34      0.51        0.26      0.46
f1             0.34       0.36          0.26      0.56        0.22      0.34



          total dur. relative dur. alignment cardinality
tp          35161.06         13.75     12.53       10.50
fp          20234.00         54.98      1.73       84.25
fn          18703.56         24.00      5.70       27.25
precision       0.44          0.29      0.66        0.24
recall          0.34          0.34      0.51        0.26
f1              0.36          0.26      0.56        0.22

In [24]:
# df2.rename({'a':'v'},axis=1,level=1)
df2.loc['f1']['avg'].mean()

0.34800000000000003

In [ ]:
from ipywidgets import interact, interactive, fixed, interact_manual,widgets
import result_analyse.resultloader
import result_analyse.kfold_analyse as an
import metric.MyMetric as mymetric
import general.utils as utils
import result_analyse.visualisation as vs
from ipywidgets import Button, Layout

@interact
def datasets(dataset=['Home1','Home2','A4H','VanKasteren']):
    @interact_manual
    def compare(files=widgets.SelectMultiple(options=result_analyse.resultloader.get_runs_summary(dataset), description='Files',           layout=Layout(width='100%', height='180px')),titles="comma seperated"):
        print(files)
        run_info={}
        dataset={}
        evalres={}
        res={}
        titles=titles.split(',')
        for i, file in enumerate(files):
            print(i,file)
            t=titles[i]
            run_info[t],dataset[t],evalres[t]=utils.loadState(file)
            print(evalres[t])
            for i in evalres[t]:
                evalres[t][i].Sdata=None
                
            dataset[t].sensor_events=None
            res[t]=an.mergeEvals(dataset[t],evalres[t],mymetric)
        res={t:res[t] for t in sorted(res.keys())}
        vs.plotJoinMetric(res,[k for k in res[t]],dataset[t].activities_map)

In [ ]:
import result_analyse.resultloader
import general.utils as utils

for file in result_analyse.resultloader.get_runs():
    summary=utils.loadState(file[1],'summary')
    #print(summary['folds'][0]['quality']['f1'])

In [ ]:
import result_analyse.resultloader
import general.utils as utils

for file in result_analyse.resultloader.get_runs():
    try:
        utils.loadState(file[1],'summary')
    except:
        try:
            run_info,dataset,evalres=utils.loadState(file[1])
            print(file[1])
            if(type(evalres)==type([])):
                for k in range(len(evalres)):
                    if('shortrunname' not in evalres[k].__dict__):
                        evalres[k].shortrunname='A'
                        evalres[k].functions={}
                utils.saveState([run_info,dataset,{k:evalres[k] for k in range(len(evalres))}],file[1])
                run_info,dataset,evalres=utils.loadState(file[1])

            compressdata={'run_info':run_info, 'folds':{k:{'quality':evalres[k].quality,'shortrunname':evalres[k].shortrunname,'functions':evalres[k].functions if 'functions'in evalres[k].__dict__ else {}} for k in evalres}}
            utils.saveState(compressdata,file[1],'summary')
        except:
            print('error in',file[1])

In [ ]:
import result_analyse.kfold_analyse as an
import metric.MyMetric
import general.utils as utils
import result_analyse.visualisation as vs
# run_info2,dataset2,evalres2=utils.loadState('200211_12-39-09-Home1')
# run_info,dataset,evalres=utils.loadState('asghari-Home2')
#utils.saveState([run_info,dataset,{0:evalres[0]}],'asghari-Home2')
# res=an.mergeEvals(dataset,evalres,metric.MyMetric)
# res2=an.mergeEvals(dataset,evalres2,metric.MyMetric)

#vs.plotMyMetric(res,[k for k in res],dataset.activities_map)
#vs.plotMyMetric(res2,[k for k in res2],dataset.activities_map)
# vs.plotJoinMetric({'My':res2,'asghari':res},[k for k in res2],dataset.activities_map)

In [ ]:
import result_analyse.SpiderChart as spiderchart
joinmetrics={'My':res2,'asghari':res}
acts=[k for k in res2]
actmap=dataset.activities_map
import matplotlib.pyplot as plt
import pandas as pd
def plotJoinMetric(joinmetrics,acts,actmap={}):
    acount=len(acts)
    col=min(4,acount)        
    row=int(np.ceil((acount)/float(col)))
    import result_analyse.SpiderChart
    result_analyse.SpiderChart.radar_factory(5, frame='polygon')
    m_fig,m_ax=plt.subplots(row,col,figsize=(col*3, row*3),subplot_kw=dict(projection='radar'))
    if type(m_ax)!=np.ndarray:
        m_ax=np.array([m_ax])
    m_ax=m_ax.flatten()
    
    
    for i, act in enumerate(acts):
        all=0
        name=actmap[act] if act in actmap else act
        print(name,"========")
        for item in joinmetrics:
            metrics=joinmetrics[item][act]
            if('avg' in metrics):metrics=metrics['avg']
            #plotJoinAct(dataset,real_events,pred_events,onlyAct=i)
            df=pd.DataFrame(metrics)
            print('average=',np.average(list(df.loc['f1'])))
            df=df.drop(['tp','fp','fn','recall','precision'])
            if type(all)==type(0):
                all=df.drop(['f1'])
            all.loc[item]=df.loc['f1']
        spiderchart.plot(all,[0.25,.5,.75],title=name,ax=m_ax[i])
    m_fig.tight_layout(pad=0,h_pad=-10.0, w_pad=3.0)

plotJoinMetric({'My':res2,'asghari':res},[k for k in res2],dataset.activities_map)